<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fa-2x " href="#!">Movie-Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <input  class="form-control w-50 ms-5 " type="text" placeholder=" Search For Movies">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
            </ul>
            <!-- <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Sign up
              </button> -->
              <!-- <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
              </button> -->
              <!-- for admin -->
              <a routerLink="admin-login"><i class="fa-solid fa-toolbox fa-2x ps-4" style="color: #ffffff;"></i></a>

      </div>  
  </div>
</nav>




<div style=" background-size: cover; background-image: url(https://i.postimg.cc/cH3nFJgR/dark-background-2-wallpaper-1920x1080.jpg);">
    <div style="border: 5px white solid;">
        
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img style="border-radius: 25px;" class="card-img-top mb-5 mb-md-0" src={{pdata.image}} alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder" style="color:white ;">{{pdata.mname}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-white">Total Revenue Generated : Rs ₹{{pdata.tprice}}</span><br>
                            <span class="text-white p-2">Rating : {{pdata.rating}}/10</span><br>
                            <span class="text-white p-2">Duration :{{pdata.tavailable}}</span>
                        </div>
                        <div style="border: 1px white solid; padding: 25px;">
                            <p class="lead" style="color: white;" >{{pdata.description}}</p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

